Daily
Weekly
Monthly
Yearly

After first

{
    "name": "Tarea de ejemplo 2",
    "notes": "Notas de ejemplo 2",
    "category": "today",
    "taskTags": [
        {
            "id": 1,
            "name": "ESCOM"
        },
        {
            "id": 3,
            "name": "IPN"
        }   
    ],
    "area": {
    	id:11,
    	name:"School"
    },
    "project": {
    	id:1515,
    	name:"ESCOM"
    },
    "due_date": "04/08/2015",
    
    "update_interval": null, --Yearly, Monthly, Weekly
    "update_every": null, -- 3 days
    "next_update": "04/08/2015",
    "end_update": "after",
    "update_counter": 2, --only apply on after X times, ends on
    "end_update_date": "after",
    "update_creation_date": 2, -- update 3 days before task end.
    
    "is_active": true,
    "is_in_edition": false,
    "is_done": false
}