    		<ul>
    			<li>
    				<span>Recopilar</span>
    				<ul class="list-group">
    					<li class="list-group-item active">
    						<a href="#tasks">
    						    <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
        						Inbox
        						<span class="badge">{{sidebar.inbox}}</span>
    						</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    		<ul>
    			<li>
    				<span>Focus</span>
    				<ul class="list-group">
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    						Today
    						<span class="badge">{{sidebar.today}}</span>
    					</li>
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
    						Next
    						<span class="badge">{{sidebar.nexts}}</span>
    					</li>
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    						Scheduled
    						<span class="badge">{{sidebar.scheduled}}</span>
    					</li>
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
    						Someday
    						<span class="badge">{{sidebar.someday}}</span>
    					</li>
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    						Projects
    						<span class="badge">{{sidebar.projects}}</span>
    					</li>
    					
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#buttons">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Buttons-->
    					<!--	</a>-->
    					<!--</li>-->
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#grid">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Grid-->
    					<!--	</a>-->
    					<!--</li>-->
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#icons">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Icons-->
    					<!--	</a>-->
    					<!--</li>-->
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#timeline">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Timeline-->
    					<!--	</a>-->
    					<!--</li>-->
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#profile">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Profile-->
    					<!--	</a>-->
    					<!--</li>-->
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#signin">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Sign In-->
    					<!--	</a>-->
    					<!--</li>-->
    					<!--<li class="list-group-item">-->
    					<!--	<a href="#email">-->
    					<!--	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
    					<!--	    Email-->
    					<!--	</a>-->
    					<!--</li>-->
    				</ul>
    			</li>
    		</ul>
    		<ul>
    			<li>
    				<span>Active Projects</span>
    				<ul class="list-group">
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    						Codecanyon
    					</li>
    				</ul>
    			</li>
    		</ul>
    		<ul>
    			<li>
    				<span>Areas</span>
    				<ul class="list-group">
    					<li class="list-group-item">
    						<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    						Family
    					</li>
    				</ul>
    			</li>
    		</ul>
    		<ul>
    			<li>
    				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    				Archive
    			</li>
    			<li>
    				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    				Trash
    			</li>
    		</ul>